+establish-baseline

*
	+box-sizing(border-box)

body
	padding: 10px
	font-family: "Museo300-webfont"
	+user-select(none)
	cursor: default

#header
	background: #222
	height: rhythm(2)
	position: absolute
	top: 0
	left: 0
	right: 0
	padding: 0 $gutter-width
	+user-select(none)

	h1
		+float-left
		+adjust-font-size-to(28px, 2)
		color: white
		text-transform: uppercase
		span
			color: $color-1

	#buttons
		+float-right
		+legacy-pie-clearfix
		padding: rhythm(0.5) 0
		a
			@extend %button

#grid
	position: absolute
	top: rhythm(2)
	bottom: 0
	right: 0
	left: 0
	overflow: scroll
	canvas
		+transition(all 50ms ease-in-out)

#zoom_panel
	position: absolute
	top: rhythm(3)
	left: $gutter-width
	background: rgba(255,255,255,0.95)
	+box-shadow(0 0 10px rgba(0,0,0,0.5))
	padding: $gutter-width/2
	text-align: center
	+adjust-font-size-to(12px,1)
	input
		display: inline-block
		+appearance(slider-vertical)
		width: $gutter-width
		height: 200px
		cursor: row-resize

#info_panel
	+box-shadow(0 0 10px rgba(0,0,0,0.5))
	position: absolute
	bottom: rhythm(1)
	right: $gutter-width
	padding: rhythm(0.5) $gutter-width/2
	background: rgba(255,255,255,0.85)
	color: black
	min-width: 150px
	text-align: center
