!!! 5
%html
	%head
		%meta{:charset => "utf-8"}/
		%meta{:name => :viewport, :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}/
		%title Game of Life
		= stylesheet_link_tag :all
		= javascript_include_tag :all

	%body
		#header
			%h1 <span>HTML5</span> Conway's Game of Life

			#buttons
				%a#step_button Step
				%a#auto_button Auto off
				%a#clear_button Clear
				%a#randomize_button Randomize

		#grid
			%canvas#main_canvas

		#zoom_panel
			%h2 Huge
			%input{:type => :range, :id => :zoom_slider, :min => 0.5, :max => 2, :step => 0.1, :value => 1 }/
			%h2 Tiny

		#info_panel
			Generation <span id="generation_counter">0</span>